<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>net.johnnyconsole.cp630.project.web.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>net.johnnyconsole.cp630.project.web.servlet.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PredictionServlet</servlet-name>
        <servlet-class>net.johnnyconsole.cp630.project.web.servlet.PredictionServlet</servlet-class>
    </servlet>
</web-app>